/* /Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-tz6xupl3tp] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-tz6xupl3tp] {
  color: #0077cc;
}

.btn-primary[b-tz6xupl3tp] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-tz6xupl3tp], .nav-pills .show > .nav-link[b-tz6xupl3tp] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-tz6xupl3tp] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-tz6xupl3tp] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-tz6xupl3tp] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-tz6xupl3tp] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-tz6xupl3tp] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* /Views/Shared/_LayoutBranch.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-xuuwo25de8] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-xuuwo25de8] {
  color: #0077cc;
}

.btn-primary[b-xuuwo25de8] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-xuuwo25de8], .nav-pills .show > .nav-link[b-xuuwo25de8] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-xuuwo25de8] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-xuuwo25de8] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-xuuwo25de8] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-xuuwo25de8] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-xuuwo25de8] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* /Views/Shared/_LayoutBranchAdmin.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-vcoavla6cr] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-vcoavla6cr] {
  color: #0077cc;
}

.btn-primary[b-vcoavla6cr] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-vcoavla6cr], .nav-pills .show > .nav-link[b-vcoavla6cr] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-vcoavla6cr] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-vcoavla6cr] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-vcoavla6cr] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-vcoavla6cr] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-vcoavla6cr] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* /Views/Shared/_LayoutKMAdmin.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-p9q2rvtvf8] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-p9q2rvtvf8] {
  color: #0077cc;
}

.btn-primary[b-p9q2rvtvf8] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-p9q2rvtvf8], .nav-pills .show > .nav-link[b-p9q2rvtvf8] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-p9q2rvtvf8] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-p9q2rvtvf8] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-p9q2rvtvf8] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-p9q2rvtvf8] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-p9q2rvtvf8] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* /Views/Shared/_LayoutLogin.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-8ob9dgfzc2] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-8ob9dgfzc2] {
  color: #0077cc;
}

.btn-primary[b-8ob9dgfzc2] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-8ob9dgfzc2], .nav-pills .show > .nav-link[b-8ob9dgfzc2] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-8ob9dgfzc2] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-8ob9dgfzc2] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-8ob9dgfzc2] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-8ob9dgfzc2] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-8ob9dgfzc2] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* /Views/Shared/_LayoutStudent.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-fc1yr0al4l] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-fc1yr0al4l] {
  color: #0077cc;
}

.btn-primary[b-fc1yr0al4l] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-fc1yr0al4l], .nav-pills .show > .nav-link[b-fc1yr0al4l] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-fc1yr0al4l] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-fc1yr0al4l] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-fc1yr0al4l] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-fc1yr0al4l] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-fc1yr0al4l] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* /Views/Shared/_LayoutTeacher.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-dnlkspz2ik] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-dnlkspz2ik] {
  color: #0077cc;
}

.btn-primary[b-dnlkspz2ik] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-dnlkspz2ik], .nav-pills .show > .nav-link[b-dnlkspz2ik] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-dnlkspz2ik] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-dnlkspz2ik] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-dnlkspz2ik] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-dnlkspz2ik] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-dnlkspz2ik] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* /Views/Shared/_LayoutUnAuthorized.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-ydezklm4z8] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ydezklm4z8] {
  color: #0077cc;
}

.btn-primary[b-ydezklm4z8] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ydezklm4z8], .nav-pills .show > .nav-link[b-ydezklm4z8] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-ydezklm4z8] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ydezklm4z8] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ydezklm4z8] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ydezklm4z8] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ydezklm4z8] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
